{% extends "base.html" %}
{% load staticfiles %}

{% block sidebar %}

<!--Carousel -->
<div class="slk">
	<div><img src="{% static "assets/images/f1.jpg" %}"  width="100%"></div>
	<div><img src="{% static "assets/images/f2.jpg" %}"  width="100%"></div>
		<div><img src="{% static "assets/images/f3.jpg" %}"  width="100%"></div> 
</div>

{% endblock %}

{% block content %}

					<!--<h2>Language is: {{language}} </h2>
					<h2>Session Language is: {{session_language}} </h2>-->
					{% if articles.count > 0 %}
				

{% else %}
<!--<p>None to show!</p>-->
{% endif %}

{% endblock %}

