{% extends "base.html" %}
{% load staticfiles %}

{% block sidebar %}

<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
	<ul class="left">
		<li class="has-form">
			<div class="row collapse">
	   			<div class="large-8 small-9 columns">
		   			{% csrf_token %}
					<input type="text" placeholder="Find Stuff" id="search" name="search" />
	    		</div>
		    	<div class="large-8 small-3 columns">
		    	</div>
			</div>
		</li>
    </ul>
</nav>

  <div id = "search-results">
  </div>

<!-- blank nav bar -->
  <nav class="top-bar" data-topbar role="navigation">
  </nav>


<!--Carousel -->

<div class="slk">
	<div><img src="{% static "assets/images/f1.jpg" %}"  width="100%"></div>
	<div><img src="{% static "assets/images/f2.jpg" %}"  width="100%"></div>
		<div><img src="{% static "assets/images/f3.jpg" %}"  width="100%"></div> 
</div>


	<!--<img class = "img-border" src="{% static "assets/images/f3.jpg" %}"  width="100%">-->
{% endblock %}

{% block content %}

					<!--<h2>Language is: {{language}} </h2>
					<h2>Session Language is: {{session_language}} </h2>-->
					{% if articles.count > 0 %}
				

{% else %}
<!--<p>None to show!</p>-->
{% endif %}

{% endblock %}

