{% if articles.count > 0 %}

{% for article in articles %}
{% if article.thumbnail %}
<a class="radius" href="/articles/get/{{ article.id }}/">
<div width = "50" height = "50" class ="button secondary radius">

								<div class="media"> <img width="300px" height="500px" class="media__image" src="/static/assets/{{article.thumbnail}}" alt="" />
								  <div class="media__body">
								    <h5><b>{{ article.title }}</b></h5>
								    <hr>
								    <!--{{ article.body|upper|truncatewords:"10" }}-->
								    {{ article.body }}
								  </div>
								</div>
<div>
<h5>
{{ article.title }}
</h5>
</div>
</div>
</a>



{% endif %}

{% endfor %}

{% else %}

{% endif %}


