{% extends "base.html" %}
{% load staticfiles %}



{% block imports %}
<!-- View Mode Switch-->
    <link rel="stylesheet" type="text/css" href="{% static "assets/ViewModeSwitch/css/default.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "assets/ViewModeSwitch/css/component.css" %}" />
    <script src="{% static "assets/ViewModeSwitch/js/modernizr.custom.js" %}"></script>
{% endblock %}


{% block sidebar %}
		<div class="container">
			<header class="clearfix">
				<span>By All Items</span>
				
			</header>	

{% endblock %}




{% block content %}


			<div class="main panel" style="padding:0px;">

				<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
					<div class="cbp-vm-options">
						<a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid">Grid View</a>
						<a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>
					</div>
					<ul>


			<!--<h2>Session Language is: {{session_language}} </h2>-->
			{% if articles.count > 0 %}

				{% for article in articles %}

			        		<!--	<h2><a href="/articles/get/{{ article.id }}/" class = "small radius button">{{ article.title }}</a></h2>
								<p>{{ article.body|upper|truncatewords:"10" }}</p>-->
								{% if article.thumbnail %}



						<li>
							<a class="cbp-vm-image" href="/articles/get/{{ article.id }}/"><img src="/static/assets/{{article.thumbnail}}">	</a>
							<h3 class="cbp-vm-title">{{ article.title }}</h3>
							<div class="cbp-vm-price">$19.90</div>
							<div class="cbp-vm-details">
					 			{{ article.body }}
							</div>
							

						</li>

		


								{% endif %}
							



				{% endfor %}

</ul>
			</div><!-- /main -->
		</div><!-- /container -->
</div>
</div>
{% else %}

<p>None to show!</p>

{% endif %}
			
{% endblock %}



{% block btmimports %}
<!--ViewModeSwitch-->
    <script src="{% static "assets/ViewModeSwitch/js/classie.js" %}"></script>
    <script src="{% static "assets/ViewModeSwitch/js/cbpViewModeSwitch.js" %}"></script>
{% endblock %}