{% extends "base.html" %}
{% load staticfiles %}


{% block sidebar %}

{% endblock %}




{% block content %}




			<!--<h2>Session Language is: {{session_language}} </h2>-->
			{% if articles.count > 0 %}

				{% for article in articles %}

			        		<!--	<h2><a href="/articles/get/{{ article.id }}/" class = "small radius button">{{ article.title }}</a></h2>
								<p>{{ article.body|upper|truncatewords:"10" }}</p>-->
								{% if article.thumbnail %}

								<div class="media"> <img width="300px" height="500px" class="media__image" src="/static/assets/{{article.thumbnail}}" alt="" />
								  <div class="media__body">
								    <h5><b>{{ article.title }}</b></h5>
								    <hr>
								    <!--{{ article.body|upper|truncatewords:"10" }}-->
								    {{ article.body }}
								  </div>
								</div>


								{% endif %}
							



				{% endfor %}


</div>

{% else %}

<p>None to show!</p>

{% endif %}

{% endblock %}